<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obihann.swearoclock"
    android:versionCode="1"
    android:versionName="0.3" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

		<activity android:name="com.obihann.swear.FilthyConfigActivity" android:label="@string/app_name">
			<intent-filter> 
		        <action android:name="android.intent.action.MAIN" />  
			</intent-filter>
		</activity>
        
        <receiver
            android:name="com.obihann.swear.FuckingWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        
        <receiver android:name="com.obihann.swear.ShittyBroadcastReceiver" >
        </receiver>
	</application>

</manifest>